    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="wardrobe"><ion-icon name="shirt-outline"></ion-icon><ion-label>Wardrobe</ion-label></ion-tab-button>
        <ion-tab-button tab="add"><ion-icon name="add-circle-outline"></ion-icon><ion-label>Add</ion-label></ion-tab-button>
        <ion-tab-button tab="outfits"><ion-icon name="albums-outline"></ion-icon><ion-label>Outfits</ion-label></ion-tab-button>
        <ion-tab-button tab="builder"><ion-icon name="sparkles-outline"></ion-icon><ion-label>Builder</ion-label></ion-tab-button>
        <ion-tab-button tab="analytics"><ion-icon name="stats-chart-outline"></ion-icon><ion-label>Analytics</ion-label></ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
