:root {
  --ion-font-family: Avenir Next, Optima, Candara, sans-serif;
  --ion-background-color: #f8f1e8;
  --ion-text-color: #241f1a;
  --ion-color-primary: #7b5f45;
  --ion-color-primary-contrast: #fffaf3;
  --ion-color-secondary: #7f9277;
  --ion-color-tertiary: #b9856b;
  --ion-color-medium: #786c60;
  --ion-color-light: #fffaf3;
}
